@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: #f2f2f2;
    user-select: none;
    overflow-x: hidden;
}

    .container{
    display: grid;
    width:  100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 20rem auto 23rem;
    }

a{
    color: rgb(0, 0, 0);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 2.5rem;
}

h2{
    font-weight: 550;
    font-size: 1.3rem;
}

h3{
    font-weight: 400;
    font-size: 0.87rem;
}

h4{ 
    font-size: 0.8rem;
}


/*----------------------------MAIN-------------------------------------*/

main{
    margin-top: 1.4rem;
}
    /*----------------------------INSIGHTS-------------------------------------*/
    .insights{
        display: grid;
        grid-template-columns: repeat(3, 40%);
        gap: 1.6rem;
    }

    .insights > div{
        background-color: white;
        padding: 1.8rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        box-shadow: 0 2rem 3rem color(132, 139, 200, 0.18);
    }

    .insights > div:hover{
        box-shadow: none;
    }

    .insights > div .middle{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .insights h1{
        font-size: 2rem;
    }

    .insights h3{
        margin: 1rem 0 0.6rem;
        font-size: 1rem;
    }
    /*----------------------------MONTHLY WORSHIP ATTENDANCE-------------------------------------*/
      .monthly-worship-attendance {
        width: 124%; 
        height: 35%;
        background-color: white;
        padding: 1.8rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
      }
      
      .monthly-worship-attendance h2 {
        font-size: 1rem;
        text-align: center;
      }

    /*----------------------------MONTHLY VISITOR WORSHIP ATTENDANCE-------------------------------------*/
    .monthly-visitor-attendance {
        width: 124%; 
        height: 35%;
        background-color: white;
        padding: 1.8rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
      }
      
      .monthly-visitor-attendance .middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .monthly-visitor-attendance h2 {
        font-size: 1rem;
        text-align: center;
      }
      

    
    