@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f6f9;
}

.donate-container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #154668;
    flex-wrap: wrap;
    text-align: center;
}

.header .logo {
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 1.5rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

.qr-section {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.qr-section .qr-code img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    max-width: 100%;
}

.qr-section p {
    margin: 0;
    font-weight: bold;
    color: #444;
}

.info-section {
    flex: 2;
    padding: 10px;
}

.info-section h2 {
    margin: 0 0 10px;
    color: #333;
}

.info-section h3 {
    margin: 0;
    color: #2b9e4d;
}

.info-section p {
    margin: 5px 0;
    color: #555;
}


.donations {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .content {
        flex-direction: column;
        gap: 20px;
    }

    .qr-section {
        padding: 10px;
    }

    .qr-section .qr-code img {
        width: 120px;
        height: 120px;
    }

    .info-section {
        text-align: center;
    }

    .info-section h2 {
        font-size: 1.2rem;
    }

    .info-section h3 {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .donate-container {
        margin: 20px auto;
        padding: 10px;
    }

    .header h1 {
        font-size: 1.2rem;
    }

    .qr-section .qr-code img {
        width: 100px;
        height: 100px;
    }

    .info-section {
        padding: 5px;
    }

    .progress-bar {
        height: 8px;
    }
}
